
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Navbar config*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    min-width: 100%;
    padding: 5px 20px;
    background-color: transparent;
    transition: 0.3s;
    z-index: 2;
}

#nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 200px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 50px 0 0 10px;
    transition: 0.3s;
    font-size: 20px;
}

#nav.active {
    right: 0px;
}

#nav li {
    margin-bottom: 20px;
}

#bar {
    cursor: pointer;
    font-size: 35px;
}

#close {
    position: absolute;
    top: 13px;
    left: 160px;
    color: #222;
    font-size: 35px;
}

#navbar.top {
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

/*Hero config*/

.hero {
    background-image: url("../imgs/hero_teste.jpg");
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: bottom 0 left 0;
    
}

/*Footer config*/

footer {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #0F412B;
    color: white;
}

footer h2 {
    padding-bottom: 15px;
}

.resumo {
    line-height: 25px;
    padding-bottom: 35px;
}

.acesso ul {
    padding-left: 15px;
    padding-bottom: 35px;
    line-height: 25px;
}

.fale textarea {
    background-color: #dddddd;
    color: #666666;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    padding: 1em;
    line-height: 1.4;
}

footer button {
    border-radius: 15px;
    border: transparent;
    background-color: #DE4040;
    color: white;
    width: 80px;
    height: 25px;
    cursor: pointer;
}

footer a {
    color: white;
}



/* slider */

#card-slider{
height: 500px;
width: 100%;
background: #0F412B;
position: relative;
}


section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: lightblue;
  }
  
  section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  
  .card{
    position: relative;
    background: #fff;  
    border-radius: 20px;
    margin: 20px 0;
    width: 240px;
  }
  
  .card::before{
    content: "";
    position: absolute;
    height: 40%;   /* vertical size of the card background */
    width: 100%;
    background: lightblue;
    border-radius: 20px 20px 0 0;
  }
  
  .card .card-content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  .swiper-pagination{
    position: relative;
    bottom: 10px;
  }
  
  

  
  .card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
  }
  
  .name-profession .name{
    font-size: 20px;
    font-weight: 600;
  }
  
  .name-profession .profession{
    font-size: 20px;
    font-weight: 500;
  }
  
  .card .aboutMe-button{
    position: relative;
    margin-top: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .card .aboutMe-button:hover{
    background-color: #67B7D1;
  }
  
  /* swiper */
  
  .swiper-wrapper{
    height: 500px;
    bottom: 20px;
  }

  .swiper {
    top: 50%;
    transform: translateY(-47%);
    width: 280px;
  }
  

  .swiper-slide{
   width: 350px;
  }
  
  @media (min-width: 429px) {
    .swiper{
      width: 950px;
    }
  }
  

  .swiper-section{
    
    height: 100vh;
    display: flex;
   
  }