@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

:root{
  --primary-background-color: #f5f5f5;
  --secondary-background-color: #fff;
  --primary-dark-background-color: #1C1C1C;
  --secondary-dark-background-color: #282828;
  --light-green-color: #8BC34A;
  --medium-green-color: #689F38;
  --dark-green-color: #33691E;
  --dark-theme-green: #008000;
  --light-brown-color: #D7CCC8;
  --text-area-background-color: #dddddd;
  --text-white-color: #fff;
  --text-grey-color: #666666;
  --slick-arrow-color-1: #666666;
  --slider-background-grey: #424242;
  --text-dark-grey-color: #505050;
  --text-dark-light-grey-color: #A8A8A8;
  --text-dark-lighter-grey-color:#D0D0D0;
  --box-shadow-slider: 0px 1px 16px -4px rgba(0,0,0,0.45);      
}

/* General adjustments */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  background-color: var(--primary-background-color);
  transition: background-color .25s, color .25s;
}

h1{
  font-size: 18pt;
}

h2 {
  padding: 80px 10px 20px 10px;
  font-size: 15pt;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: var(--text-grey-color);
}

h3 {
  font-size: 12pt;
}

a {
    text-decoration: none;
    color: black;
}

button {
  border-radius: 15px;
    border: transparent;
    background-color: var(--medium-green-color);
    color: var(--text-white-color);
    width: 100px;
    height: 35px;
    cursor: pointer;
    transition: ease 0.3s;
}

button:hover {
  border: 1px solid var(--medium-green-color);
  background-color: var(--text-white-color);
  color: var(--medium-green-color);
}

.logo {
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

.d-grid{
  display: grid;
}
/*slick dots Config*/
.slick-dots li button::before {
  color: var(--dark-green-color) !important;
  transform: scale(2);
}

/* Dark-theme colors */

body.dark-theme{
  --primary-background-color: var(--primary-dark-background-color);
  --secondary-background-color: var(--secondary-dark-background-color);
}

body.dark-theme button{
  background-color: var(--dark-theme-green);
}

body.dark-theme button:hover{
  border: 1px solid var(--dark-theme-green);
  background-color: var(--text-dark-lighter-grey-color);
  color: var(--dark-theme-green);
}

body.dark-theme #nav li a:hover{
    color: var(--dark-theme-green);
}

body.dark-theme #nav li a.active{
  color: var(--dark-theme-green);
}

body.dark-theme #nav li a::after {
  background: var(--dark-theme-green);
}

body.dark-theme .slick-next{
  background-color: transparent;
}

body.dark-theme .slick-prev {
  background-color: transparent;
}

body.dark-theme .slick-prev:hover {
  background-color: transparent;
  border: transparent;
  color: transparent;
}

body.dark-theme .slick-next:hover {
  background-color: transparent;
  border: transparent;
  color: transparent;
}

body.dark-theme #navbar.top{
  color: var(--text-dark-light-grey-color);
}

body.dark-theme .colormenu span{
  background: var(--text-dark-light-grey-color);
}

body.dark-theme .openmenu .line-1{
  background: var(--text-dark-light-grey-color);
}

body.dark-theme .openmenu .line-3{
  background: var(--text-dark-light-grey-color);
}

body.dark-theme .openmenu .line-2{
  background: var(--text-dark-light-grey-color);
}

body.dark-theme .list a{
  color: var(--text-dark-light-grey-color);
}

body.dark-theme .hero{
  background-image: linear-gradient(180deg, rgba(26,48,110,0.3323529240797881) 0%, rgba(27,95,107,0.3323529240797881) 35%, rgba(25,72,111,0.33) 100%), repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px), url("../imgs/HD_imgs/IMG_2959.jpg");
}

body.dark-theme .phrase-arrow {
  color: var(--text-dark-light-grey-color);
}

body.dark-theme h2{
 color: var(--text-dark-lighter-grey-color);
}

body.dark-theme .icon-phrases .slick-current{
  background-color: var(--slider-background-grey);
}

body.dark-theme .slider{
  color: var(--text-dark-lighter-grey-color);
}

body.dark-theme .slide-02{
  color: #6aa1b3;
}

body.dark-theme .slide-03{
  color: rgb(183, 139, 94);
  background-color: rgba(207, 179, 146, 0.5); /*pink*/
}

body.dark-theme .slide-04{
  color: #9c8ab6;
}

body.dark-theme .slide-05{
  color: #67b177;
}

body.dark-theme .slide-06{
  color: #cd8a6d;
}

body.dark-theme .about-us h1{
  color: white;
}

body.dark-theme .about-us h3{
  color: var(--text-dark-light-grey-color);
}

body.dark-theme .partners h1{
  color: var(--text-dark-lighter-grey-color);
}

body.dark-theme .historys h1{
  color: white;
}

body.dark-theme .services h1{
  color: white;
}

body.dark-theme .services p{
  color: white;
}

body.dark-theme .services{
  background-color: var(--dark-theme-green);
}

body.dark-theme .gallery h1{
  color: white;
}

body.dark-theme .gallery-item-1{
  filter: saturate(80%); 
 }

 body.dark-theme .gallery-item-2{
  filter: saturate(80%); 
 }

 body.dark-theme .gallery-item-3{
  filter: saturate(80%); 
}

body.dark-theme .gallery-item-4{
  filter: saturate(100%);
}

body.dark-theme .contact-us .material-symbols-outlined {
  color: var(--dark-theme-green);
}

body.dark-theme .contact-us .services-item{
  background-color: var(--slider-background-grey);

}

body.dark-theme footer{
  background-color: var(--dark-theme-green);
}

body.dark-theme footer a{
  color: white;
}

body.dark-theme footer button{
  background-color: var(--text-dark-lighter-grey-color);
  color: var(--dark-theme-green);
}

body.dark-theme footer button:hover{
  border: 1px solid var(--text-dark-lighter-grey-color);
  background-color: var(--dark-theme-green);
  color: var(--text-dark-lighter-grey-color);
}

/*About-us dark theme*/

body.dark-theme #abt-us.hero{
  background-image: linear-gradient(180deg, rgba(26,48,110,0.3323529240797881) 0%, rgba(27,95,107,0.3323529240797881) 35%, rgba(25,72,111,0.33) 100%), repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px), url("../imgs/HD_imgs/IMG_2925.jpg");
}

body.dark-theme .history h1{
  color: var(--text-dark-lighter-grey-color);
}

body.dark-theme .history p{
  color: var(--text-dark-lighter-grey-color);
}

/*Contact-us dark theme*/

body.dark-theme #cont-us.hero{
  background-image: linear-gradient(180deg, rgba(26,48,110,0.3323529240797881) 0%, rgba(27,95,107,0.3323529240797881) 35%, rgba(25,72,111,0.33) 100%), repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px), url("../imgs/HD_imgs/acerola1.jpg");
}

body.dark-theme .contact-us h1{
  color: var(--text-dark-lighter-grey-color);
}

body.dark-theme .contact-us h3{
  color: var(--text-dark-lighter-grey-color);
}

body.dark-theme .contact-us p{
  color: var(--text-dark-lighter-grey-color);
}

body.dark-theme .mapa h1{
  color: var(--text-dark-lighter-grey-color);
}

body.dark-theme .mapa {
  background-color: var(--secondary-dark-background-color);
}
body.dark-theme .google-mapa {
  filter: invert(100%);
}

/*Services dark theme*/

body.dark-theme #srvc.hero{
  background-image: linear-gradient(180deg, rgba(26,48,110,0.3323529240797881) 0%, rgba(27,95,107,0.3323529240797881) 35%, rgba(25,72,111,0.33) 100%), repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px), url("../imgs/HD_imgs/goiaba.jpg");
}


body.dark-theme .services-explanation{
    color: var(--text-dark-lighter-grey-color);
}

body.dark-theme .image-services{
  color: white;
}

body.dark-theme .image-services h1{
  color: white;
}

body.dark-theme .image-services a{
  color: var(--text-dark-lighter-grey-color);
}

body.dark-theme .partners p{
  color: var(--text-dark-lighter-grey-color);
}

/*General services dark theme*/

body.dark-theme #generalServices.hero{
  background-image: linear-gradient(180deg, rgba(0,67,255,0.2959383582534576) 0%, rgba(0,67,255,0.29873947870163686) 100%),
  repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px),
  url("../imgs/HD_imgs/cursos.jpg");
}

body.dark-theme #generalServices.consultoria{
  background-image: linear-gradient(180deg, rgba(0,67,255,0.2959383582534576) 0%, rgba(0,67,255,0.29873947870163686) 100%),
  repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px),
  url("../imgs/HD_imgs/acerolaMostrando.jpg");
}

body.dark-theme #generalServices.acessoria{
  background-image: linear-gradient(180deg, rgba(0,67,255,0.2959383582534576) 0%, rgba(0,67,255,0.29873947870163686) 100%),
  repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px),
  url("../imgs/HD_imgs/notebook.jpg");
}

body.dark-theme #generalServices.certificado{
  background-image: linear-gradient(180deg, rgba(0,67,255,0.2959383582534576) 0%, rgba(0,67,255,0.29873947870163686) 100%),
  repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px),
  url("../imgs/HD_imgs/certificado.jpg");
}

body.dark-theme .service-template h1{
  color: var(--text-dark-lighter-grey-color);
}

body.dark-theme .service-template p{
  color: var(--text-dark-lighter-grey-color);
}

/*Gallery dark theme*/

body.dark-theme #gal.hero{
  background-image: linear-gradient(180deg, rgba(26,48,110,0.3323529240797881) 0%, rgba(27,95,107,0.3323529240797881) 35%, rgba(25,72,111,0.33) 100%), repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px), url("../imgs/HD_imgs/12697414_1263341080359760_359460311908228984_o.jpg");
}

/*Partners dark theme*/

body.dark-theme #part.hero{
  background-image: linear-gradient(180deg, rgba(26,48,110,0.3323529240797881) 0%, rgba(27,95,107,0.3323529240797881) 35%, rgba(25,72,111,0.33) 100%), repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px), url("../imgs/logos/terraEco.png");
}

body.dark-theme .all-partners h1{
  color: var(--text-dark-lighter-grey-color);
}

body.dark-theme .all-partners .parceiros h1{
  color: var(--text-white-color);
}

/* Theme button config */

#moon-icon {
  display: none;
}
.dark-theme #sun-icon {
  display: none;
}

.dark-theme #moon-icon {
  display: block;
}

#theme-toggle-btn {
  height: 24px;
  cursor: pointer;
}


/*arrow down config*/

.phrase-arrow {
  text-align: center;
}

.phrase-arrow h2{
  padding-top: 1rem;
}

.phrase-arrow .material-symbols-outlined{
  cursor: pointer;
  font-size: 4rem !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48;
  transition: 0.5s;
}

.phrase-arrow .material-symbols-outlined:hover{
  transform: translateY(20px);
}

/* Navbar config*/

.nav-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    min-width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 100px;
  color: white;
  background-color: transparent;
  align-items: center;
  transition: 0.3s;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  pointer-events:all;
  z-index: 9;
}

#nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: fixed;
    top: 100px;
    right: -100vw;
    height: 100%;
    width: 100%;
    background-color: var(--primary-background-color);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 50px 20px 0 10px;
    transition: 0.3s;
    font-size: 15pt;
    pointer-events:all;
    z-index: 8;
}

#nav li a:hover,
#nav li a.active{
    color: var(--medium-green-color);
}

#nav li a::after {
  content: "";
  width: 40%;
  height: 2px;
  background: var(--medium-green-color);
  position: absolute;
  bottom: -4px;
  left: 60%;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: 50% 0%;
}

#nav a:hover::after,
#nav a.active::after {
  transform: scaleX(1);
}

#navbar.active {
  right: 0px;
  background-color: var(--primary-background-color);
}

#navbar.top {
    background-color: var(--primary-background-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#nav.active {
    right: 0px;
}

#nav li {
    margin-bottom: 20px;
}

#nav a {
  position: relative;
}

.nav-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

#bar {
    cursor: pointer;
    font-size: 35px;
}

.services-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 12pt;
  max-width: 200px;
  overflow: hidden;
  font-weight: 500;
  max-height: 300px;
  position: relative;
  opacity: 1;
  transition: all 0.3s ease;
}

.services-list a{
  color: var(--text-grey-color);
}

ul input:checked ~ .services-list {
  max-height: 1px;
  opacity: 0.5s;
}

.list input {
  display: none;
}

.list i{
  cursor: pointer;
}

/*Division config*/

.division-up{
  width: 100%;
  height: 10vw;
  background-color: var(--secondary-background-color);
  border-radius: 51% 49% 49% 51% / 100% 100% 0% 0% ;
}

.division-down{
  width: 100%;
  height: 10vw;
  background-color: var(--secondary-background-color);
  border-radius: 51% 49% 49% 51% / 0% 0% 100% 100%;
}

/*Menu icon config*/

.menu {
  width: 50px;
  height: 50px;
  margin: 2px;
  cursor: pointer;
}

.menu div{
  width: 30px;
  height: 30px;
  margin: 10px;
  position: relative;
}

.menu span{
  background: white;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.menu .line-1{
  transform: translate(-50%, -12px);
}

.menu .line-3{
  transform: translate(-50%, 10px);
}

.openmenu .line-1{
  transform: translate(-50%, -50%) rotate(-45deg);
  background: #000;
}

.openmenu .line-3{
  transform: translate(-50%, -50%) rotate(45deg);
  background: #000;
}

.openmenu .line-2{
  width: 0;
  background: #000;
}

.colormenu span{
  background: #000;
}

/*Home Page*/

/*Hero config*/

/* linear-gradient(180deg, rgba(15,15,15,0.888268156424581) 0%, rgba(0,0,0,0.3268156424581006) 12%, rgba(255,255,255,0) 100%) */

.hero {
    background-image: linear-gradient(180deg, rgba(211,255,131,0.3323529240797881) 0%, rgba(212,206,53,0.3323529240797881) 35%, rgba(123,255,0,0.33) 100%), 
    repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px),
    url("../imgs/HD_imgs/IMG_2959.jpg");
    background-size: 4px 4px;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: bottom 0 left -200px;
    border-radius: 0% 0% 50% 50% / 0% 60% 7% 7% ;  
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    align-content: center;
    justify-content: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.hero h1 {
  color: white;
  font-size: 22pt;
}


/* Icon-Phrases */

.icon-phrases{
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-phrases .container{
  width: 60rem;
}

.icon-phrases .slider{
  height: 230px;
  text-align: center; 
  border-radius: 20px;
  margin: 20px 0;
  word-wrap: break-word;
  padding: 0 2vw 0 2vw; 
}

.icon-phrases .slick-current {
  height: 270px;
  border-radius: 20px;
  box-shadow: var(--box-shadow-slider);
  -webkit-box-shadow: var(--box-shadow-slider);
  -moz-box-shadow: var(--box-shadow-slider);
  /* animate the box-shadow */
  transition: 50ms box-shadow ease-in-out;
  transition-delay: 150ms;
}

.icon-phrases .slider p {
 margin-top: 1rem;
 font-weight: 900;
}

.icon-phrases .slider .material-symbols-outlined {
  margin-top: 2rem;
  padding: 3vw;
  font-size: 4rem !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48;
}

.slide-01{
  color: #D8A550;
  background-color: rgba(234, 197, 117, 0.5); /*yellow*/
  border-radius: 51% 49% 49% 51% / 67% 71% 29% 33% ;
}

.slide-02{
  color: #4B6F7B;
  background-color: rgba(94, 136, 157, 0.5); /*blue*/
  border-radius: 51% 49% 49% 51% / 67% 71% 29% 33% ;
}

.slide-03{
  color: rgba(129, 98, 66, 1);
  background-color: rgba(207, 179, 146, 1); /*pink*/
  border-radius: 51% 49% 49% 51% / 67% 71% 29% 33% ;
}

.slide-04{
  color: #725E8F;
  background-color: rgba(182, 158, 195, 0.5); /*purple*/
  border-radius: 51% 49% 49% 51% / 67% 71% 29% 33% ;
}

.slide-05{
  color: #547F5D;
  background-color: rgba(163, 204, 164, 0.5); /*green*/
  border-radius: 51% 49% 49% 51% / 67% 71% 29% 33% ;
}

.slide-06{
  color: #D46B3E;
  background-color: rgba(242, 173, 120, 0.5); /*orange*/
  border-radius: 51% 49% 49% 51% / 67% 71% 29% 33% ;
}

.icon-phrases .container .slick-arrow::before {
  color: var(--slick-arrow-color-1);
}

.icon-phrases .container .slick-dots {
  margin-bottom: 2rem; /*need to be adjusted in the media query */
}

.icon-phrases .container .slick-slide {
  margin: 10px;
}

.slick-prev:hover {
  background-color: transparent;
  border: transparent;
  color: transparent;
}

.slick-next:hover {
  background-color: transparent;
  border: transparent;
  color: transparent;
}

/* about-us config */
.about-us{
  background: var(--secondary-background-color);
}
.about-us .container{
  padding: 7vh;
  height: 650px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.about-us h1 {
  text-align: center;
  font-size: 20pt;
  padding-top: 10px;
}

.about-us .image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
  border-radius: 100%;
}


.about-us .image img{
  /* trocar esses valores por rem */
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius:100%;
  
}

.about-us h3 {
  padding-top: 40px;
  padding-bottom: 15px;
}

/*Partners config*/

.partners{
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.partners h1{
  position: absolute;
  transform: translateY(-100px);
}

.partners p{
  position: absolute;
  transform: translateY(-80px);
}

.partners .container {
  height: 150px;
  width: 100%;
  margin-top: 20px;
}


.partners .slider img{
  height: 90px;
  width: 90px;
  object-fit:contain;
  /* filter: saturate(0%) contrast(50%); */
  margin-top: 25px;
  border-radius: 20px;
}

.client-btn{
  margin-top: 1rem;
  transform: translateY(-25px);
}

/*services config */
.services{
  background-color: var(--light-green-color);
  padding: 0 0 25px 0;
}

.services h1{
  text-align: center ;
  padding: 20px 0 20px 0;
  color: var(--text-white-color);
}

.services-image-container{
  position: relative;
  min-height: 10rem;
  background-color: var(--primary-background-color);
}

.service-image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .25s;
  box-shadow: var(--box-shadow-slider);
}

.services-text{
  height: 100%;
  width: 100%;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 200;
  box-shadow: var(--box-shadow-slider);
}

.txt1 {
  text-align: left;
  justify-content: center;
}

.txt2 {
  text-align: right;
  justify-content: center;
  
}


.service-container{
  display: grid;
  grid-template-columns: 1fr;  
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 100% ;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.services-item-1{
  grid-column: 1/3;   
 }

.services-item-2{
  grid-column: 1/3; 
  grid-row: 3/4;
  margin-top: 20px;
}

 .services-item-3{
  grid-column: 1/3;
  grid-row: 5/6;
  margin-top: 20px;
}

 .services-item-4{
  grid-column: 1/3;
  grid-row: 7/8;
  filter: saturate(120%);
  margin-top: 20px;
}

.services-item-5{
  grid-column: 1/3;
  grid-row: 6/7;
}

.services-item-6{
  grid-column: 1/3;
  grid-row: 2/3;
}

.services-item-7{
  grid-column: 1/3;
  grid-row: 4/5;
}

.services-item-8{
  grid-column: 1/3;
  grid-row: 8/9;
}

.services .button-services{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}


/* gallery config */

.gallery{
  background-color: var(--secondary-background-color);
  padding: 0 0 25px 0;
}

.gallery h1{
  text-align: center ;
  padding: 20px 0 20px 0;
}

.image-container{
  position: relative;
  min-height: 10rem;
}

.gallery-image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .25s;
}

.gallery-container{
  display: grid;
  gap: 12px;
  grid-template-columns: 2fr 2fr 1fr;  
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-width: 100% ;
  margin: 0 auto;
  padding: 0 1.5rem;
}

 .gallery-item-1{
  grid-column: 1/3;   
 }

 .gallery-item-2{
     grid-column: 1/3; 
     grid-row: 2/3;
 }

 .gallery-item-3{
  grid-column: 3;
  grid-row: -5/-1;
}

 .gallery-item-4{
  grid-column: 1/3;
  grid-row: 3/5;
  filter: saturate(120%);
}

.gallery .button-gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}



/*contact us*/


.contact-us{
  background: var(--primary-background-color);
  display: flex;
  flex-direction: column;  
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.contact-us .services-item{
  display: flex;
  height: 50vw;
  width: 90vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: var(--box-shadow-slider);
  -webkit-box-shadow: var(--box-shadow-slider);
  -moz-box-shadow: var(--box-shadow-slider);
}

.service-top {
  margin-top: 20px;
}

.contact-us .services-item h2 {
  padding: 0px;
}

.contact-us .services-item:hover {
  transform: translateY(-5px);
  
}

.contact-us .material-symbols-outlined {
  font-size: 40pt !important;
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 200;
  cursor: pointer;
  color: var(--light-green-color);
  transition: 0.1s;
}

.contact-us .services-item:hover .material-symbols-outlined{
  font-size: 42pt !important;
  font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 200;
}

.contact-us button{
  margin-top: 10px;
  margin-bottom: 30px;
}

.zap-desktop{
  display: none;
}


/*About Us Page*/

/*About Us hero*/

#abt-us.hero{
  background-image: linear-gradient(180deg, rgba(211,255,131,0.3323529240797881) 0%, rgba(212,206,53,0.3323529240797881) 35%, rgba(123,255,0,0.33) 100%), 
    repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px),
    url("../imgs/HD_imgs/IMG_2925.jpg");
    background-size: 4px 4px;
    background-position: bottom 0 left 0;
    height: 40vh;
    width: 100%;
    background-size: cover;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 0px;
  }

/*About Us config*/

#abt-us.about-us .container{
  padding: 7vh;
  height: 630px;
  width: 100%;
  background: var(--secondary-background-color);
  text-align: center;
  overflow: hidden;
}

.history{
  background-color: var(--primary-background-color);
  padding: 0 0 25px 0;
}

.history h1{
  text-align: center ;
  padding: 20px 0 20px 0;
}

.history-image-container{
  position: relative;
  min-height: 10rem;
}

.history-image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .25s;
}

.history-text{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.history-text-1 {
  text-align: justify;
  justify-content: center;
}

.history-text-2 {
  text-align: justify;
  justify-content: center;
}


.history-container{
  display: grid;
  grid-template-columns: 1fr;  
  grid-template-rows: 1fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1.3fr 1fr 1fr;
  max-width: 100% ;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.history-item-1{
  grid-column: 1/3;   
 }

.history-item-2{
  grid-column: 1/3; 
  grid-row: 3/4;
}

 .history-item-3{
  grid-column: 1/3;
  grid-row: 5/6;
}

 .history-item-4{
  grid-column: 1/3;
  grid-row: 7/8;
  filter: saturate(120%);
}

.history-item-5{
  grid-column: 1/3;
  grid-row: 2/3;
}

.history-item-6{
  grid-column: 1/3;
  grid-row: 4/5;
}

.history-item-7{
  grid-column: 1/3;
  grid-row: 6/7;
}

.history-item-8{
  grid-column: 1/3;
  grid-row: 8/9;
}

.history-item-9{
  grid-column: 1/3;
  grid-row: 10/11;
}

.history-item-10{
  grid-column: 1/3;
  grid-row: 9/10;
}

.history .button-history{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.our-values{
  background: var(--secondary-background-color);
  height: 100%;
  width: 100%;
  padding: 7vh;
  text-align: center;
  overflow: hidden;
}

.values-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.values i{
  font-size: 6rem !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400
  'GRAD' 0,
  'opsz' 48;
}

.our-values h1 {
  text-align: center;
  font-size: 20pt;
  padding: 20px 0 20px 0;
}

.our-values h3 {
  padding-top: 10px;
  padding-bottom: 15px;
}






/*Services Page*/

/*Services hero*/

#srvc.hero{
  background-image: linear-gradient(180deg, rgba(211,255,131,0.3323529240797881) 0%, rgba(212,206,53,0.3323529240797881) 35%, rgba(123,255,0,0.33) 100%), 
  repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px),
  url("../imgs/HD_imgs/goiaba.jpg");
  background-size: 4px 4px;
  background-position: bottom 0 left 0;
  height: 40vh;
  width: 100%;
  background-size: cover;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 0px;
}

.services-explanation{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  padding: 30px;
  gap: 20px;
  padding-top: 50px;
}

.image-services{
  box-sizing: border-box;
  width: 100%;
  height: 460px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
}

.image-services .container{
  width: 60rem;
}

.image-services .container-main{
  width: 60rem;
}


.image-services .slider{
  height: 230px;
  text-align: center; 
  word-wrap: break-word;
}

.image-services .slider img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.image-services .slick-current {
  height: 270px;

}

.image-services .slider h1 {
 margin-top: 1rem;
 font-weight: 900;
}


.image-services .container .slick-slide {
  margin: 10px;
}

.image-services .container-main .slick-slide {
  margin: 10px;
}



/*General Services Services Page*/

/*General Services Hero*/

#generalServices.hero{
  background-image: linear-gradient(180deg, rgba(161,255,0,0.3015405991498161) 0%, rgba(161,255,0,0.29873947870163686) 100%),
  repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px),
  url("../imgs/HD_imgs/cursos.jpg");
  background-size: 4px 4px;
  background-position: bottom -50px left 0;
  height: 12vh;
  width: 100%;
  background-size: cover;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 0px;
}

#generalServices.consultoria{
  background-image: linear-gradient(180deg, rgba(161,255,0,0.3015405991498161) 0%, rgba(161,255,0,0.29873947870163686) 100%), 
  repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px),
  url("../imgs/HD_imgs/acerolaMostrando.jpg");
  background-position: bottom -150px left 0;
}

#generalServices.consultoria h1{
  font-size: 18pt;
}

#generalServices.acessoria{
  background-image: linear-gradient(180deg, rgba(161,255,0,0.3015405991498161) 0%, rgba(161,255,0,0.29873947870163686) 100%), 
  repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px),
  url("../imgs/HD_imgs/notebook.jpg");
  height: 15vh;
}

#generalServices.acessoria h1{
  font-size: 18pt;
}

#generalServices.certificado{
  background-image: linear-gradient(180deg, rgba(161,255,0,0.3015405991498161) 0%, rgba(161,255,0,0.29873947870163686) 100%), 
  repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px),
  url("../imgs/HD_imgs/certificado.jpg");
  height: 15vh;
}

#generalServices.certificado h1{
  font-size: 18pt;
}

.service-template{
  width: 100%;
  height: 960px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 100px;
}

.service-template .container{
  display: flex;
  width: 100%;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-template .container p {
  margin: 0 20px 0 20px;
}


.service-template .container h1{
  text-align: center;
}

.service-template img{
  width: 90%;
  height: 180px;
  object-fit: cover;
  margin: 20px;
}

.service-template .c1{
  padding-bottom: 20px;
}

#generalServices.image-services{
  height: 580px;
  margin-top: 130px;
}

/*Contact Us Page*/

/*Hero config*/

#cont-us.hero{
  background-image: linear-gradient(180deg, rgba(211,255,131,0.3323529240797881) 0%, rgba(212,206,53,0.3323529240797881) 35%, rgba(123,255,0,0.33) 100%), 
  repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px),
  url("../imgs/HD_imgs/acerola1.jpg");
  background-size: 4px 4px;
  background-position: bottom 0 left 0;
  height: 40vh;
  width: 100%;
  background-size: cover;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 0px;
}

/*Page config*/

#cont-us.contact-us{
  height: 900px;
}

.redes{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:10px;
 
}

.redes button{
  width: 120px;
  height: 40px;
  border-radius: 30px;
  font-size: 15px;
}

.whats{
  background-color: #3BDD58;
  border-radius: 30px;
  color: var(--text-white-color);
  width: 120px;
  height: 40px;
  cursor: pointer;
  transition: ease 0.3s;
  font-size: 15px;
}

.mapa {
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.mapa h1 {
  padding-top: 20px;
}


/*Partners Page*/

/*Hero config*/

#part.hero{
  background-image: linear-gradient(180deg, rgba(211,255,131,0.3323529240797881) 0%, rgba(212,206,53,0.3323529240797881) 35%, rgba(123,255,0,0.33) 100%), 
  repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px),
  url("../imgs/logos/terraEco.png");
  background-size: 4px 4px;
  background-position: bottom 0px left 0;
  height: 40vh;
  width: 100%;
  background-size: cover;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 0px;
}

/*Partners page config*/
.all-partners{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vw;
}

.all-partners .clientes{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 8vw;
}

.all-partners .clientes-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10vw 10px 0 10px;
}

.all-partners .clientes img{
  margin-bottom: 5vw;
  border-radius: 10px;
}

.all-partners .parceiros{
  padding: 10vw 10px 0 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--secondary-background-color);
}

.all-partners .parceiros-imgs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 8vw;
  background-color: var(--secondary-background-color);
}

.all-partners .parceiros-imgs img{
  margin-bottom: 5vw;
}

/*Footer banner config*/
.footer-banner{
  width: 100%;
  /* height: 270px; */

}

.footer-banner h3{
  color: white;
  font-size: 15pt;
}

.footer-banner .banner-image{
  height: 150px;
  background-image: url("../imgs/HD_imgs/acerola3efeito.png");
  background-size: cover;
  background-position: bottom -100px left 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
  /* box-shadow: 0px 1px 20px -4px rgba(0,0,0,0.8); */
}


/*Footer config*/

footer {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--medium-green-color);
    color: var(--text-white-color)
}

footer h1 {
    padding-bottom: 15px;
}

.resumo {
    line-height: 25px;
    padding-bottom: 35px;
}

.acesso ul {
    padding-left: 15px;
    padding-bottom: 35px;
    line-height: 25px;
}

.fale textarea {
    background-color: var(--text-area-background-color);
    color: var(--text-grey-color);
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    padding: 3vw;
    line-height: 1.4;
}

.ta-1 {
  width: 65vw;
}

.ta-2 {
  width: 85vw;
  height: 85vw;
}

footer a {
    color: var(--secondary-background-color);
}

footer button {
  color: var(--medium-green-color);
  background-color: var(--text-white-color);
}

footer button:hover {
  border: 1px solid var(--text-white-color);
  background-color: var(--medium-green-color);
  color: var(--text-white-color);
}


/*Scroll bar config */

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track{
  background-color: var(--light-green-color);
}

::-webkit-scrollbar-thumb{
  border-radius: 35px;
  background-color: var(--primary-background-color);
}











/*Gallery Page*/

/*Hero config*/

#gal.hero{
  background-image: linear-gradient(180deg, rgba(211,255,131,0.3323529240797881) 0%, rgba(212,206,53,0.3323529240797881) 35%, rgba(123,255,0,0.33) 100%), 
  repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.1) 1px, transparent 1px, transparent 6px),
  url("../imgs/HD_imgs/12697414_1263341080359760_359460311908228984_o.jpg");
  background-size: 4px 4px;
  background-position: bottom 0 left 0;
  height: 40vh;
  width: 100%;
  background-size: cover;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 0px;
}

#gallery-page{
  background-color: var(--secondary-background-color);
  padding: 0 0 25px 0;
}

.gallery-page h1{
  text-align: center ;
  padding: 20px 0 20px 0;
}

.image-container{
  position: relative;
  min-height: 10rem;
}

.gallery-page-image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .25s;
}

.gallery-page-container{
  display: grid;
  gap: 12px;
  grid-template-columns: 2fr 2fr;  
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  max-width: 100% ;
  margin: 0 auto;
  padding: 0 1.5rem;

}

.gallery-page-item-1{
  grid-column: 1/4;
  grid-row: 1/2;   
 }

 .gallery-page-item-2{
     grid-column: 1/4; 
     grid-row: 2/3;
 }

 .gallery-page-item-3{
  grid-column: 1/4;
  grid-row: 3/5;
}

.gallery-page-item-4{
  grid-column: 1/4;
  grid-row: 5/6;
  filter: saturate(120%);
}

.gallery-page-item-5{
  grid-column: -3/2;
  grid-row: 6/7;
}

.gallery-page-item-6{
  grid-column: -2/4;
  grid-row: 6/7;
}

.gallery-page-item-7{
  grid-column: 1/4;
  grid-row: 7/9;
}

.gallery-page-item-8{
  grid-column: 1/-2;
  grid-row: 9/10;
}

.gallery-page-item-9{
  grid-column: -2/4;
  grid-row: 9/11;
}

.gallery-page-item-10{
  grid-column: 1/-2;
  grid-row: 10/11;
}

.gallery-page-item-11{
  grid-column: 1/4;
  grid-row: 11/12;
}

.gallery-page-item-12{
  grid-column: 1/-2;
  grid-row: 12/14;
}
.gallery-page-item-13{
  grid-column: -2/4;
  grid-row: 12/13;
}

.gallery-page-item-14{
  grid-column: -2/4;
  grid-row: 13/14;
}







/*About-us*/
/* about-us config */
.about-us-page{
  background: var(--secondary-background-color);
}
.about-us-page .container{
  padding: 7vh;
  height: 650px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.about-us-page h1 {
  text-align: center;
  font-size: 20pt;
  padding-top: 10px;
}

.about-us-page .image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
  border-radius: 100%;
}


.about-us-page .image img{
  /* trocar esses valores por rem */
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius:100%;
  
}

.about-us-page h3 {
  padding-top: 40px;
  padding-bottom: 15px;
}



























/*media Query*/

@media  (min-width: 1100px) {
  /* Basic */
  button{
    width: 150px;
    height: 50px;
    font-size: 14pt;
    border-radius: 23px;
  }
  /* nav-bar */
  #responsive{
    display: none;
  }

  .logo{
    margin-left: 130px;
  }

  #nav{
    font-size: 14pt;
    right: 0;
    top: 80px;
    left: 50px;
    padding-left: 300px;
    padding-right: 160px;
    padding-top: 0;
    flex-direction: row;
    background-color: transparent;
    height: 0px;
    justify-content: space-around;
    position: absolute;
    z-index: 9;
    text-shadow: 0 0 10px rgb(0, 0, 0);
  }

  #nav a{
    color: var(--text-white-color);
  }

  #nav i{
    color: var(--text-white-color);
  }

  .services-list {
    display: none;
  }

  #nav.top a{
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #nav.top i{
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #nav li a:hover, #nav li a.active {
    color: var(--text-white-color);
  }

  #nav li a::after{
    background: white;
  }

  #nav.top li a:hover, #nav.top li a.active {
    color: var(--medium-green-color);
  }

  #nav.top li a::after{
    background: var(--medium-green-color);
  }

  /* #nav.top .services-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 80px;
    right: 0;
    top: 25px;
    left: 250px;
    position: absolute;
    background-color: var(--light-green-color);
    border-radius: 10px;
  } /

  /Hero*/

  .hero{
    background-position: bottom 0 left 0px;
  }

  .hero h1{
    font-size: 30pt;
  }

   /* phrase-arrow */
   .phrase-arrow-h2-container{
    display: flex;
    width: 100%;
    padding: 0 300px 0 300px;
    justify-content: center;
    align-self: center;
    align-items: center;
  }

  .phrase-arrow h2{
    font-size: 20pt;
    text-align: center;
  }

  /* Image Services */
  .image-services .slider{
    text-align: center; 
    width: 300px !important;
    height: 300px;
    
    box-shadow: var(--box-shadow-slider);
    -webkit-box-shadow: var(--box-shadow-slider);
    -moz-box-shadow: var(--box-shadow-slider);
  }
  
  /* .image-services .slick-current{
    height: 300px;
  } */

  .image-services .container{
    width: 100% ;
  }

  .image-services .container .slick-slide {
    margin: 40px;
    transform: translateX(-35px);
  }


  /*Icon Phrases*/
  .icon-phrases .slider{
    height: 300px;
    text-align: center; 
  }
  
  .icon-phrases .slick-current{
    height: 300px;
    border-radius: 50px;
    box-shadow: var(--box-shadow-slider);
    -webkit-box-shadow: var(--box-shadow-slider);
    -moz-box-shadow: var(--box-shadow-slider);
   
  }
  .icon-phrases .container{
    width:70rem ;
  }

  /*About-us*/
  .about-us{
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    align-content: center;
    margin: 0 100px 0 100px;
    border-radius: 25px;
    box-shadow: var(--box-shadow-slider);
  }

  .about-us-content{
    display: flex;
    flex-direction: column;
    width: 350px;
  }
  
  .about-us .container{
    background: var(--secondary-background-color);
    display: flex;
    padding: 0vh;
    height: 600px;
    width: 70%;
    text-align: left;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .division-down{
    display: none;
  }

  .division-up{
    display: none;
  }
  
  .about-us h1 {
    text-align: left;
    font-size: 25pt;
  }
  
  .about-us .image{
    display: block;
    margin-left: none;
    margin-right: none;
    height: 350px;
    width: 350px;
    border-radius: 100%;
    transform: translateX(-40px);
  }
  
  
  .about-us .image img{
    /* trocar esses valores por rem */
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius:100%;
    
  }
  
  .about-us h3 {
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 15pt;
  }

  /*Partners Slider main*/

  .partners .slider img{
    height: 120px;
    width: 120px;
    object-fit:contain;
    /* filter: saturate(0%) contrast(50%); */
    margin-top: 50px;
    border-radius: 10px;
  }

  .client-btn{
    transform: translateY(50px);
  }

  .partners{
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .partners h1{ 
    font-size: 30pt;
    transform: translateY(-110px);
  }

   /*Services main*/

   .service-container{
    grid-template-columns: 1fr 1fr;  
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 85% ;
    height: 800px;
  }

  .services-text{
    font-size: 20pt;
    font-weight: 200;
  }

  .services h1{
    font-size: 30pt;
  }
  
  .services-item-1{
    grid-column: 1/2;   
    margin-top: 10px;
   }
  
  .services-item-2{
    grid-column: 2/3; 
    grid-row: 1/2;
    margin-top: 10px;
    margin-left: 10px;
  }
  
   .services-item-3{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 10px;
  }
  
   .services-item-4{
    grid-column: 2/3;
    grid-row: 3/4;
    filter: saturate(120%);
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .services-item-5{
    grid-column: 1/2;
    grid-row: 4/5;
  }
  
  .services-item-6{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .services-item-7{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 10px;
  }
  
  .services-item-8{
    grid-column: 2/3;
    grid-row: 4/5;
    margin-left: 10px;
  }

  /* gallery section: */

  .gallery-title{
    font-size: 30pt;
  }

  .gallery-container{
    max-width: 85% ;
    height: 800px;
  }

  .gallery-item-1{
    grid-column: 1/2;
    grid-row: 1/3;   
   }
  
   .gallery-item-2{
       grid-column: 2/3; 
       grid-row: 1/3;
   }
  
   .gallery-item-3{
    grid-column: 3/4;
    grid-row: 1/5;
  }
  
   .gallery-item-4{
    grid-column: 1/3;
    grid-row: 3/5;
    filter: saturate(120%);
  }


  .contact-title{
    padding: 0;
   transform: translateY(80px);
   font-size: 30pt;
  }

  .contact-us{
    background: var(--primary-background-color);
    display: flex;
    flex-direction: row;  
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: 750px;
  }
  
  .contact-us .services-item{
    display: flex;
    height: 400px;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    box-shadow: var(--box-shadow-slider);
    -webkit-box-shadow: var(--box-shadow-slider);
    -moz-box-shadow: var(--box-shadow-slider);
  }

  .service-top {
    margin-top: 0;
  }

  .zap-mobile{
    display: none;
  }

  .zap-desktop{
    display: block;
  }

/* About-Us Page */
/*About-Us Page config*/

.about-us-page{
  display: flex;
  flex-direction: column;
  height: 600px;
  align-items: center;
  align-content: center;
  margin: 100px 100px 0 100px;
  border-radius: 25px;
}


.about-us-page-content{
  display: flex;
  flex-direction: column;
  width: 350px;
}

.about-us-page .container{
  background: var(--secondary-background-color);
  display: flex;
  padding: 0vh;
  height: 600px;
  width: 70%;
  text-align: left;
  overflow: visible;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.about-us-page h1 {
  text-align: left;
  font-size: 30pt;
}

.about-us-page .image{
  display: block;
  margin-left: none;
  margin-right: none;
  height: 350px;
  width: 350px;
  border-radius: 100%;
  transform: translateX(-40px);
}


.about-us-page .image img{
  /* trocar esses valores por rem */
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius:100%;
  
}

.about-us-page h3 {
  padding-top: 40px;
  padding-bottom: 15px;
  font-size: 15pt;
}

.history{
  background-color: var(--primary-background-color);
  padding: 0 0 25px 0;
}

.history h1{
  text-align: center ;
  padding: 50px 0 50px 0;
  font-size: 30pt;
}

.history-image-container{
  position: relative;
  min-height: 20rem;
}

.history-image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .25s;
}

.history-text{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  font-size: 15pt;
  font-weight: 500;
}

.history-text-1 {
  text-align: justify;
  justify-content: center;
}

.history-text-2 {
  text-align: justify;
  justify-content: center;
}


.history-container{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
  max-width: 89% ;
  margin: 0 auto;
  padding: 0 1.5rem;
  gap: 40px;
  
}

.history-item-1{
  grid-column: 1/2;  
  grid-row: 1/2; 
 }

.history-item-2{
  grid-column: 1/2; 
  grid-row: 2/3;
}

 .history-item-3{
  grid-column: 1/2;
  grid-row: 3/4;
}

 .history-item-4{
  grid-column: 1/2;
  grid-row: 4/5 ;
  filter: saturate(120%);
}

.history-item-5{
  grid-column: 2/3;
  grid-row: 1/3;
}

.history-item-6{
  grid-column: 2/3;
  grid-row: 2/3;
}

.history-item-7{
  grid-column: 2/3;
  grid-row: 3/4;
}

.history-item-8{
  grid-column: 2/3;
  grid-row: 4/5;
}

.history-item-9{
  grid-column: 2/3;
  grid-row: 5/6;
}

.history-item-10{
  grid-column: 1/2;
  grid-row: 5/6;
}

.history .button-history{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.values-container{
  display: flex;
  flex-direction: row;
  gap: 40px;
}



/* Services template pages */

#generalServices.certificado h1{
  font-size: 18pt;
}

.service-template{
 padding: 100px 100px 0 100px;
 height: 680px;
}

.service-template .container{
  display: flex;
  text-align: justify;
  flex-direction: row;
  justify-content: center;
}

.service-template .container p {
  margin: 0 50px 0 50px;
}


.service-template .container h1{
  text-align: center;
}

.service-template img{
  width: 90%;
  height: 300px;
  object-fit: cover;
  margin: 20px;
}

.service-template .c{
  padding-bottom: 0;
  display: flex;
  width: 80%;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Contact-Us Page */


#cont-us h1{
  padding: 0;
 /* transform: translateY(80px); */
 font-size: 30pt;
}

#cont-us {
  background: var(--primary-background-color);
  display: flex;
  flex-direction: column;  
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 750px;
}

#cont-us .cont-us-container {
  background: var(--primary-background-color);
  display: flex;
  flex-direction: row;  
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#cont-us .services-item{
  display: flex;
  height: 400px;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: var(--box-shadow-slider);
  -webkit-box-shadow: var(--box-shadow-slider);
  -moz-box-shadow: var(--box-shadow-slider);
}

  /*Partners page config*/
  .all-partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vw;
  }
  
  .all-partners h1{
    font-size: 35pt;
  }
  
  .all-partners p{
    font-size: 19pt;
  }
  
  .all-partners .clientes{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    align-items: center;
    padding:  5vw 15vw 0 15vw;
  }
  
  .all-partners .clientes img{
    margin-bottom: 5vw;
    border-radius: 10px;
    padding: 0 10px 0 10px;
  }
  
  .all-partners .parceiros{
    padding:  5vw 15vw 0 15vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-background-color);
  }
  
  .all-partners .parceiros-imgs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 8vw;
    background-color: var(--secondary-background-color);
  }
  
  .all-partners .parceiros-imgs img{
    margin-bottom: 5vw;
    padding: 0 10px 0 10px;
  }

  #gallery-page{
    background-color: var(--secondary-background-color);
    padding: 0 0 25px 0;
    height: 6850px;
  }
  
  #gallery-page h1{
    text-align: center ;
    padding: 30px 0 20px 0;
    font-size: 35pt;
  }
  
  .gallery-page-container{
    display: grid;
    gap: 12px;
    grid-template-columns: 2fr 2fr;  
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    max-width: 20% ;
    margin: 0 auto;
    padding: 0 1.5rem;
    scale: 3;
    transform: translateY(750px);
  }
  

}


@media  (min-width: 1720px) {
  /*Icon Phrases*/
  .icon-phrases{
   margin-bottom: 30px;
  }

  .icon-phrases .container{
    width:70rem ;
  }

  .icon-phrases .container .slick-dots {
    margin-bottom: 0; 
  }

  .icon-phrases .slick-current{
    height: 330px;
    border-radius: 50px;
    box-shadow: var(--box-shadow-slider);
    -webkit-box-shadow: var(--box-shadow-slider);
    -moz-box-shadow: var(--box-shadow-slider);
   
  }

  /* Image Services main */
  /*About-us*/
  .about-us{
    height: 700px;
    margin: 0 300px 0 300px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  /*Partners Slider main*/
  .partners{
    height: 500px;
  }

  .partners .slider img{
    height: 180px;
    width: 180px;
  }

  .client-btn{
    transform: translateY(100px);
  }

  .partners h1{ 
    font-size: 30pt;
    transform: translateY(-110px);
  }

  /*Services main*/

  .service-container{
    grid-template-columns: 1fr 1fr;  
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 70%;
  }

  .gallery-container{
    max-width: 70% ;
    height: 800px;
  }



   /* About-Us page */

   .about-us-page{
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    align-content: center;
    margin: 100px 350px 0 350px;
    border-radius: 25px;
  }

  .history-container{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
    max-width: 67% ;
    margin: 0 auto;
    padding: 0 1.5rem;
    gap: 40px;
  }


  /* Services Pages Templates */

.service-template{
  padding: 100px 300px 0 300px;
  height: 625px;
  }


  .image-services .container .slick-slide {
    margin: 20px 5px 5px 5px;
    transform: translateX(80px);
    
  }

  /*Partners page config*/
.all-partners{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vw;
}

.all-partners h1{
  font-size: 45pt;
}

.all-partners p{
  font-size: 29pt;
}

.all-partners .clientes{
  display: flex;
  justify-content: center ;
  flex-wrap: wrap;
  align-items: center;
  padding:  5vw 15vw 0 15vw;
}

.all-partners .clientes img{
  margin-bottom: 5vw;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}

.all-partners .parceiros{
  padding:  5vw 15vw 0 15vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
}

.all-partners .parceiros-imgs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 4vw;
  background-color: var(--secondary-background-color);
}

.all-partners .parceiros-imgs img{
  margin-bottom: 5vw;
  padding: 0 10px 0 10px;
}
  
  }



@media  (max-width: 780px) {
  /*Image Services*/
  .image-services .container{
    width: 30rem ;
  }

  .image-services h1{
    font-size: 12pt;
  }


  .image-services .container-main{
    width: 30rem ;
  }

  .image-services .slider{
    height: 230px;
    text-align: center; 
    box-shadow: var(--box-shadow-slider);
    -webkit-box-shadow: var(--box-shadow-slider);
    -moz-box-shadow: var(--box-shadow-slider);
  }
  
  .image-services .slick-current{
    height: 230px;
  }


  /*Icon Phrases*/
  .icon-phrases .container{
    width: 30rem ;
  }

  .icon-phrases .slider{
    height: 230px;
    text-align: center; 
    border-radius: 20px;
    margin: 20px 0;
    border-radius: 20px;
    box-shadow: var(--box-shadow-slider);
    -webkit-box-shadow: var(--box-shadow-slider);
    -moz-box-shadow: var(--box-shadow-slider);
  }
  
  .icon-phrases .slick-current{
    height: 230px;
    border-radius: 20px;
    margin: 20px 0; 
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }


  .service-template{
    padding: 40px 50px 0 50px;
    height: 900px;
   }
   
  .service-template img{
    width: 90%;
    height: 200px;
    object-fit: cover;
    margin: 20px;
  }

  

}

@media  (max-width: 530px) {
  /*Image Services*/

  .image-services{
    margin-top: 300px;
  }

  .image-services .container{
    width: 20rem ;
  }

  .image-services .slider{
    height: 350px;
  
  }

  .icon-phrases .container{
    width: 15rem ;
  }

/*Icon Phrases*/
  .icon-phrases .slider{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .icon-phrases .slick-current{
    box-shadow: var(--box-shadow-slider);
    -webkit-box-shadow: var(--box-shadow-slider);
    -moz-box-shadow: var(--box-shadow-slider);
    transition: 300ms box-shadow ease-in-out;
    transition: 300ms background-color ease-in-out;
    transition-delay: 30ms;
  }


}







 











